<%= form_for(@person,  remote: (@ajax ? true : false)) do |f| %>
  <% if @ajax %>
    <%= hidden_field_tag 'avalon_item_id', params[:avalon_item_id].to_i %>
  <% end %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="w_400">
    <tbody>
    <tr>
      <th>First Name</th>
      <td>
        <%= f.text_field :first_name %>
      </td>
    </tr>
    <tr>
      <th>Middle Name</th>
      <td><%= f.text_field :middle_name %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td><%= f.text_field :date_of_birth_edtf, {class: 'edtf', placeholder: 'YYYY/MM/DD (EDTF)'} %></td>
    </tr>
    <tr>
      <th>Date of Death</th>
      <td><%= f.text_field :date_of_death_edtf, {class: 'edtf', placeholder: 'YYYY/MM/DD (EDTF)'} %></td>
    </tr>
    <tr>
      <th>Place of Birth</th>
      <td><%= f.text_field :place_of_birth %></td>
    </tr>
    <tr>
      <th>Authority Source</th>
      <td><%= f.text_field :authority_source %></td>
    </tr>
    <tr>
      <th>Authority Source URL</th>
      <td><%= f.text_field :authority_source_url, class: 'decodeURI urlValidator' %></td>
    </tr>
    <tr>
      <th>AKA</th>
      <td><%= f.text_field :aka %></td>
    </tr>
    <tr>
      <th>Role</th>
      <td>
        <%= select_tag "role", options_for_select(Person::ALL_ROLES.collect { |r| [r,r] }) %>
      </td>
    </tr>
    <tr><th colspan="2">Notes</th></tr>
    <tr>
      <td colspan="2"><div class="textarea_wrap"><%= f.text_area :notes, class: 'tArea' %></div></td>
    </tr>
    </tbody>
  </table>
  <% unless @ajax %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
