<div data-recording-id="<%= recording.id %>" class="recording_div" >
  <h3 class="accordion accordion-title active accordion-trigger" aria-expanded="true"><%= recording.title %> <%= recording.mdpi_barcode %> <span class="accordion-icon"></span></h3>
  <div>
    <div class="rvt-grid m-fadeIn">
      <div class="rvt-grid__item-12">
        <h3>Recording Description</h3>
        <p><%= recording.description %></p>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <label for="inCopyright">In Copyright</label> <br>
        <%= recording.in_copyright %>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <label for="copyrightEnd">Copyright End Date</label> <br>
        <%= recording.copyright_end_date_text %>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <label for="commercial">Commercial</label> <br>
        <%= boolean_to_yes_no recording.commercial %>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <label for="published">Published</label>
        <br><%= boolean_to_yes_no recording.published %>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <label for="dateOfFirstPublication">Date Of First Publication</label>
        <br><%= recording.date_of_first_publication_text %>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <label for="creationDate">Creation Date</label>
        <br><%= recording.creation_date_text %>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <label for="countryOfFirstPublication">Country Of First Publication</label>
        <br><%= recording.country_of_first_publication %>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <label for="authoritySource">Authority Source</label>
        <br><%= recording.authority_source %>
      </div>
      <div class="rvt-grid__item-12">
        <label for="authoritySourceURL">Authority Source URL</label>
        <br><%= recording.authority_source_url %>
      </div>
      <div class="rvt-grid__item-4-md-up">
        <% if @avalon_item.pod_unit == 'B-ATM' %>
          <label for="receiptOfWill">Receipt Of Will Before 90 Days Of Death</label><br>
          <%= recording.receipt_of_will_before_90_days_of_death %>
        <% end %>
      </div>
      <div class="rvt-grid__item-12 rvt-m-top-xs">
        <h4>Recording Notes</h4>
        <div class="rvt-grid">
          <% recording.recording_notes.each do |note| %>
            <div class="bgWhite rvt-p-all-xxs rvt-grid__item-4-md-up rvt-m-right-xxs note">
              <label class="rvt-m-bottom-none">Creator:&nbsp;</label><%= note.creator %> <label class="rvt-m-bottom-none">Date: </label> <%= note.created_at.strftime("%d/%m/%Y") %>
              <p class="rvt-m-top-none"><%= simple_format(note.text) %></p>
            </div>
          <% end %>
        </div>
      </div>
      <% if recording.people.size > 0 %>
        <div class="rvt-grid__item-12 rvt-m-top-xs">
          <h4>Contributors</h4>
          <div class="rvt-grid">
            <% recording.people.each_with_index do |p, i| %>
              <% @person = p %>
              <div class="rvt-grid__item-4-md-up rvt-m-right-xxs rvt-p-all-xs tooltip person">
                <%= link_to (p.entity? ? p.company_name : p.full_name), ajax_edit_person_path(p.id), class: 'red_700', remote: true %>
                <span class="tooltiptext <%= i % 3 == 0 ? 'left_one' : i % 3 == 1 ? 'middle_one' : 'right_one' %>">
                    <%= render partial: 'people/ajax_show' %>
                  </span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="rvt-grid__item-12">
        <button class="rvt-button floatRight editRecordingButton" data-recording-id="<%= recording.id %>">Edit Recording</button>
      </div>
    </div>

    <div class="performances rvt-p-left-lg" data-recording-id="<%= recording.id %>">
      <h2>Performances <span> <button class="rvt-button rvt-m-left-lg createPerformanceButton" data-recording-id="<%= recording.id %>" >Create New Performance</button></span></h2>
      <% recording.performances.each do |p| %>
        <%= render partial: 'performances/ajax_show', locals: {performance: p} %>
      <% end %>
    </div>
  </div>
</div>