<%= form_for(@recording) do |f| %>
  <% if @recording.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recording.errors.count, "error") %> prohibited this recording from being saved:</h2>

      <ul>
      <% @recording.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="">
  <table>
    <tbody>
    <tr>
      <th>Title</th>
      <td>
        <%= f.text_field :title %>
      </td>
    </tr>
    <tr>
      <th>MDPI Barcode</th>
      <td>
        <%= @recording.mdpi_barcode %>
      </td>
    </tr>
    <tr>
      <th>Access Decision</th>
      <td>
        <%= f.select :access_determination, options_for_select(Recording::ACCESS_DECISIONS, @recording.access_determination) %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit %></td>
    </tr>
    </tbody>
  </table>
</div>
<% end %>
