<p id="notice"><%= notice %></p>

<h1>Listing Recordings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Title</th>
      <th>MDPI Barcode</th>
      <th>Unit</th>
      <th>Format</th>
      <th>Actions</th>
    </tr>
    <% @recordings.each do |recording| %>
      <tr>
        <td>
          <% if User.belongs_to_unit?(recording.unit) %>
            <%= link_to recording.title.blank? ? "No title for this record!" : recording.title, recording_path(recording), class: (recording.title.blank? ? 'no_title' : '')%>
          <% else %>
            <b><%= recording.title.blank? ? "No title for this record!" : recording.title %></b>
          <% end %>
        </td>
        <td>
          <%= recording.mdpi_barcode %>
        </td>
        <td>
          <%= recording.unit %>
        </td>
        <td>
          <%= recording.format %>
        </td>
        <td>
          <% if User.belongs_to_unit?(recording.unit) %>
            <%= link_to 'Show', recording %>&nbsp;|&nbsp;
            <%= link_to 'Edit', edit_recording_path(recording) %>&nbsp;|&nbsp;
            <%= link_to 'Destroy', recording, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>