<p id="notice"><%= notice %></p>
<div style="margin-bottom: 15px">
  <%= link_to 'Edit', edit_recording_path(@recording) %> |
  <%= link_to 'Back', :back %>
</div>
<div class="left">
  <% if @recording.needs_review? %>
    <%= button_to "Reviewed", mark_reviewed_recording_path(@recording), method: 'post' %>
  <% else %>
    <%= button_to "Needs Review", mark_needs_review_recording_path(@recording), method: 'post' %>
  <% end %>
  <% if !@recording.catalog_key.nil? %>
    <div class="iucat_link_div">
      <a href="https://iucat.iu.edu/catalog/<%= @recording.catalog_key %>" target="_blank">IUCAT Record</a>
    </div>
  <% end %>
  <% if @recording.fedora_item_id.blank? %>
    <div class="iucat_link_div">
      <a href="#">No Fedora ID in the database...</a>
    </div>
  <% else %>
    <%= link_to "MCO Item", "#" %>
  <% end %>
</div>
<div class="left w_400">
<h4>Recording</h4>
  <table id="recording_table">
    <tbody>
    <tr>
      <th>Title</th>
      <td>
        <%= @recording.title %>
      </td>
    </tr>
    <tr>
      <th>MDPI Barcode</th>
      <td>
        <%= @recording.mdpi_barcode %>
      </td>
    </tr>
    <tr>
      <th>Fedora ID</th>
      <td><%= @recording.fedora_item_id %></td>
    </tr>
    <tr>
      <th>Access Determination</th>
      <td><%= @recording.access_determination %></td>
    </tr>
    <tr>
      <th>Unit</th>
      <td><%= @recording.unit %></td>
    </tr>
    <tr>
      <th>Format</th>
      <td><%= @recording.format %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @recording.description %></td>
    </tr>
    <tr>
      <th>Last Updated By</th>
      <td><i><%= @recording.last_updated_by %></i></td>
    </tr>
    </tbody>
  </table>
</div>


<div class="clear m_top_10">

</div>
<h4>Performances On This Recording...</h4>
<table>
  <tbody>
  <% @recording.performances.each do |p| %>
  <dir>
    <b>Location:</b>&nbsp;<%= p.location %> <br>
    <b>Performance Date: </b><%= p.performance_date %>
  </dir>
  <% end %>
  </tbody>
</table>
<br><br><br><br>

