<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_recording_path(@recording) %> |
<%= link_to 'Back', :back %>
<h4>Recording</h4>
<table id="recording_table">
  <tbody>
  <tr>
    <th>Title</th>
    <td>
      <%= @recording.title %>
    </td>
  </tr>
  <tr>
    <th>MDPI Barcode</th>
    <td>
      <%= @recording.mdpi_barcode %>
    </td>
  </tr>
  <tr>
    <th>Access Decision</th>
    <td><%= @recording.access_determination %></td>
  </tr>
  <tr>
    <th></th>
    <td></td>
  </tr>
  </tbody>
</table>
<% if !@recording.catalog_key.nil? %>
  <div id="iucat_link_div">
    <a href="https://iucat.iu.edu/catalog/<%= @recording.catalog_key %>" target="_blank">IUCAT Record</a>
  </div>
<% end %>
