  <%= form_for @person, url: ajax_people_adder_post_url, method: :post, remote: true do |f| %>
    <%= hidden_field_tag :avalon_item_id, @avalon_item.id %>
    <div>
      <h3>Add Person to <i><%= @avalon_item.title %></i></h3>
      <div class="rvt-grid rvt-m-top-xxs">
        <div class="rvt-grid__item-4-md-up">
          <label for="recordingTitle">First Name</label>
          <%= f.text_field :first_name, {type: "text", 'aria-describedby': "first name"} %>
        </div>
        <div class="rvt-grid__item-4-md-up">
          <label for="recordingTitle">Middle Name</label>
          <%= f.text_field :middle_name, {type: "text", 'aria-describedby': "middle name"} %>
        </div>
        <div class="rvt-grid__item-4-md-up">
          <label for="recordingTitle">Last Name</label>
          <%= f.text_field :last_name, {type: "text", 'aria-describedby': "last name"} %>
        </div>
      </div>
      <div class="rvt-grid">
        <div class="rvt-grid__item-4-md-up">
          <label for="recordingTitle">Date of Birth</label>
          <%= f.text_field :date_of_birth_edtf, {type: "text", 'aria-describedby': "date of birth", class: "edtf_year_or_date"} %>
        </div>
        <div class="rvt-grid__item-4-md-up">
          <label for="recordingTitle">Date of Death</label>
          <%= f.text_field :date_of_death_edtf, {type: "text", 'aria-describedby': "date of death", class: "edtf_year_or_date"} %>
        </div>
        <div class="rvt-grid__item-4-md-up">
          <label for="recordingTitle">Place of Birth</label>
          <%= f.text_field :place_of_birth, {type: "text", 'aria-describedby': "first name"} %>
        </div>
      </div>
      <div class="rvt-grid">
        <div class="rvt-grid__item-4-md-up">
          <label for="recordingTitle">Authority Source</label>
          <%= f.text_field :authority_source, {type: "text", 'aria-describedby': "authority source"} %>
        </div>
        <div class="rvt-grid__item-4-md-up">
          <label for="recordingTitle">Authority Source URL</label>
          <%= f.text_field :aka, {type: "text", 'aria-describedby': "authority source url", class: "decodeURI urlValidator"} %>
        </div>
        <div class="rvt-grid__item-4-md-up">
          <label for="recordingTitle">AKA</label>
          <%= f.text_field :aka, {type: "text", 'aria-describedby': "also know as"} %>
        </div>
        <div class="rvt-grid__item-12">
          <label for="personNotes">Notes</label>
          <%= f.text_area :notes, {class: "noBorder"} %>
        </div>
      </div>
    <div>
      <p>Add this Person to the Avalon Item's structured metadata below</p>
    </div>
    <h4>Recordings in <span class="recording"><i><%= "#{@avalon_item.title}" %></i></span></h4>
    <ul class="rvt-plain-list">
      <% @avalon_item.recordings.each do |r| %>
        <%= f.fields_for r do |rf| %>
          <li class="rvt-m-all-xxs rvt-checkbox-wrapper">
            <%= rf.check_box :id, {id: "recording_#{r.id}", type: 'checkbox'} %>
            <label for="recording_<%= r.id %>" class="rvt-m-all-none rvt-"><%= "#{r.title} - #{r.mdpi_barcode}" %></label>
            <div class="rvt-m-left-sm">
              <h4 class="rvt-m-left-xs">Performances in <span class="recording"><i><%= "#{r.title} - #{r.mdpi_barcode}" %></i></span></h4>
                <ul class="rvt-plain-list">
                  <% r.performances.each do |p| %>
                    <%= rf.fields_for p do |pf| %>
                      <li class="rvt-m-left-xs performance rvt-checkbox-wrapper">
                        <%= rf.check_box :id, {id: "performance_#{p.id}", type: 'checkbox'}%>
                        <label for="performance_<%= p.id %>" class="rvt-m-all-none"><%= "#{p.title}" %></label>
                        <div class="rvt-m-left-sm">
                          <h4>Tracks in <span class="recording"><i><%= "#{p.title}" %></i></span></h4>
                          <ul class="rvt-plain-list">
                            <% p.tracks.each do |t| %>
                              <%= pf.fields_for t do |tf| %>
                              <li>
                                <%= tf.check_box :id, {id: "track_#{t.id}", type: 'checkbox', checked: false}%>
                                <label for="track_<%= t.id %>" class="rvt-m-all-none"><%= "#{t.track_name}" %></label>
                              </li>
                              <% end %>
                            <% end %>
                          </ul>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <button type="submit" class="peopleButtonAdderCreate rvt-button">Add Person</button>
    <button type="button" class="peopleButtonAdderCancel rvt-button rvt-m-left-sm">Cancel</button>
  <% end %>
</div>