<div class="" data-contract-id="<%= @contract.id %>">
  <%= form_for(@contract, remote: true) do |f| %>
    <%= f.hidden_field :avalon_item_id %>
    <label for="agreement">Agreement Type</label> <%= f.select :contract_type, options_for_select([['License'],['Contract'],['Policy'],['Deed of Gift'],['Other']], @contract.contract_type) %>
    <label for="date">End Date</label> <%= f.text_field :end_date %>
    <label for="contract_perpetual">Perpetual?</label><%= f.select :perpetual, options_for_select([['Yes', true],['No', false]], @contract.perpetual), { include_blank: '' } %>
    <label for="notes">Notes</label> <%= f.text_area :notes %>
  <% end %>
</div>
