<h3 class="">
  <%= link_to(@atom_feed_read.avalon_item_url, {target: "_blank"}) do %>
    <span class="accordion-title rvt-text-bold">
      <%= @avalon_item.title %>
      <i class="fa fa-external-link xxsmall"><span class=sr-only>opens a new window</span></i>
      <span class="">
        <%= @avalon_item.rivet_button_badge %>
      </span>
    </span>
  <% end %>
</h3>
<div class="avalon_item_metadata">
  <div id="access_div" class="display-flex">
    <div class=rvt-grid__item-lg>
      <label for=access>Access Determination:</label>
      <%= select_tag :access, options_for_select(@avalon_item.allowed_access_determinations.collect{|a| [a,a]}, @avalon_item.access_determination) %>
    </div>
    <div class="rvt-grid__item-lg rightButton">
      <div>
        <button type=button class=rvt-button data-modal-trigger=modal-note>Avalon Item Note</button>
        <div class=rvt-modal id=modal-note role=dialog aria-labelledby=modal-example-title aria-hidden=true tabindex=-1>
          <div class=rvt-modal__inner>
            <header class=rvt-modal__header>
              <h1 class=rvt-modal__title id=modal-example-title>Avalon Item Notes</h1></header>
            <div class=rvt-modal__body>
              <div class=rvt-grid__item-12>
                <label for=notes1>Avalon Item Notes</label>
                <textarea class=swal2-textarea id=notes1 aria-labelledby=notes></textarea>
              </div>
            </div>
            <div class=rvt-modal__controls>
              <button type=button class=rvt-button>OK</button>
              <button type=button class="rvt-button rvt-button--secondary" data-modal-close=modal-note>Cancel</button>
            </div>
          </div>
        </div>
        <button id=flagCopyrightLibrarian class=rvt-button data-modal-trigger=modal-example-basic>Copyright Librarian</button>
        <button id=viewHistory class="rvt-button rvt-button--secondary" data-modal-trigger=modal-history>View History</button>
      </div>
    </div>
  </div>
  <div id="recordings_div" class="rvt-p-all-sm bgGray">
    <h2>Recordings In This Avalon Item </h2>
    <% @avalon_item.recordings.each do |recording| %>
      <%= render partial: 'recordings/ajax_show', locals: {recording: recording} %>
    <% end %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        hookAccordion();
        hookEditRecordings();
    });
</script>
