<h4>Avalon Item</h4>
<h4 class="avalon_item">
  <%= link_to @avalon_item.title, @atom_feed_read.avalon_item_url, target: "_blank" %>
</h4>
<div class="rmd_metadata">
  <%= render 'rmd_metadata' %>
</div>
<div class="clear">
  <h4>Recordings In This Avalon Item</h4>
  <table>
    <tbody>
    <% @avalon_item.recordings.each do |recording| %>
    <div class="recording_div">
      <p><%= link_to recording.mdpi_barcode, recording_path(recording) %></p>
      <button type="button" class="add_recording_button" data-recording-id="<%= recording.id %>">Add Performance</button>
    </div>
    <% end %>
    </tbody>
  </table>
</div>

<div class="accordion clear">
  <h3>Avalon Metadata</h3>
  <div>
    <table class="json_table">
      <tbody>
      <tr>
        <th>Title</th>
        <td class="adder"><%= @json["title"] %></td>
      </tr>
      <tr>
        <th>Unit</th>
        <td>
          <%= @avalon_item.pod_unit %>
        </td>
        <th>Creator</th>
        <td>
          <ul>
            <% @json["fields"]["creator"]&.each do |mc| %>
              <li class="adder people"><%= mc %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Uniform Title</th>
        <td class="adder work"><%= @json["uniform_title"] %></td>
        <th>Date Created</th>
        <td><%= @json["fields"]["date_created"] %></td>
      </tr>
      <tr>
        <th>Translated Title</th>
        <td class="adder work">
          <%= @json["translated_title"] %>
        </td>
        <th>Date Issued</th>
        <td class="adder date issue"><%= @json["fields"]["date_issued"] %></td>
      </tr>
      <tr>
        <th>Avalon Collection</th>
        <td><%= @json["collection"] %></td>
        <th>Copyright Date</th>
        <td class="adder date copyright"><%= @json["fields"]["copyright_date"] %></td>
      </tr>
      <tr>
        <th>Main Contributors</th>
        <td>
          <ul>
            <% @json["main_contributors"]&.each do |mc| %>
              <li class="adder people"><%= mc %></li>
            <% end %>
          </ul>
        </td>
        <th>Publisher</th>
        <td>
          <ul>
            <% @json["fields"]["publisher"]&.each do |mc| %>
              <li><%= mc %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Publication Date</th>
        <td class="adder date publication">
          <%= @json["publication_date"] %>
        </td>
        <th>Physical Description</th>
        <td>
          <ul>
            <% @json["fields"]["physical_description"]&.each do |mc| %>
              <li><%= mc %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Bibliographic ID</th>
        <td><%= @json["fields"]["bibliographic_id"] %></td>
        <th>Statement of Responsibility</th>
        <td><%= @json["fields"]["statement_of_responsibility"] %></td>
      </tr>
      <tr>
        <th>Note</th>
        <td><%= @json["fields"]["note"] %></td>
        <th>Contributor</th>
        <td>
          <ul>
            <% @json["fields"]["contributor"]&.each do |mc| %>
              <li><%= mc %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Language</th>
        <td>
          <ul>
            <% @json["fields"]["language"]&.each do |mc| %>
              <li><%= mc %></li>
            <% end %>
          </ul>
        </td>
        <th>Terms of Use</th>
        <td><%= @json["fields"]["terms_of_use"] %></td>
      </tr>
      <tr>
        <th>Table of Contents</th>
        <td>
          <ul>
            <% @json["fields"]["table_of_contents"]&.each do |mc| %>
              <li class='adder work'><%= mc %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <h3>JSON</h3>
  <div class="json">
    <pre>
      <%= JSON.pretty_generate @json %>
    </pre>
  </div>
</div>
<div id="popup_menu" class="pup">
  <ul class="pup">
    <li class="pup add_person_button">Add Person</li>
    <li class="pup add_work_button">Add Work</li>
  </ul>
</div>
<%= render partial: 'avalon_items/rmd_javascript' %>