
<h4 class="avalon_item"><%= link_to @avalon_item.title, @atom_feed_read.avalon_id, target: "_blank" %></h4>

<div class="avalon_item_metadata">
  <table>
    <tbody>
    <tr>
      <th>Unit</th>
      <td>
        <%= @avalon_item.recordings.first.unit %>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <%= @avalon_item.recordings.first.description %>
      </td>
    </tr>
    <tr>
      <th>Last updated by</th>
      <td>
        <%= @avalon_item.recordings.first.last_updated_by %>
      </td>
    </tr>
    <tr>
      <th>Recording Contributors</th>
      <td>
        <ul>
          <% @avalon_item.recordings.first.recording_contributor_people.each do |p| %>
          <li>
            <%= p.person.name %>
          </li>
          <% end %>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="recordings">
  <h4>Recordings</h4>
  <table>
    <tbody>
    <tr>
      <th>MDPI Barcode</th>
      <th>Format</th>
      <th>Access Decision</th>
    </tr>
    <% @avalon_item.recordings.each do |recording| %>
      <tr>
        <td><%= recording.mdpi_barcode %></td>
        <td><%= recording.format %></td>
        <td><%= recording.access_determination %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<h4>Atom Feed Information</h4>
<table>
  <tbody>
  <tr>
    <th>Title</th>
    <td><%= Nokogiri::HTML.fragment @avalon_item.recordings.first.atom_feed_read.title %></td>
  </tr>
  <tr>
    <th>Feed Update Date</th>
    <td><%= @avalon_item.recordings.first.atom_feed_read.avalon_last_updated %></td>
  </tr>
  <tr>
    <th>JSON</th>
    <td><pre><%= JSON.pretty_generate(JSON.parse(@avalon_item.recordings.first.atom_feed_read.json)) %></pre></td>
  </tr>
  </tbody>
</table>