<%= form_for(@work, remote: (@ajax ? true : false)) do |f| %>
  <% if @ajax %>
    <%= hidden_field_tag 'avalon_item_id', params[:avalon_item_id].to_i %>
  <% end %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tbody>
    <tr>
      <th>Title</th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th>Access Determination</th>
      <td><%= f.select :access_determination, options_for_select(Recording::ACCESS_DECISIONS, @work.access_determination) %></td>
    </tr>
    <tr>
      <th>Traditional</th>
      <td><%= f.check_box :traditional %></td>
    </tr>
    <tr>
      <th>Contemporary Work in Copyright</th>
      <td><%= f.check_box :contemporary_work_in_copyright %></td>
    </tr>
    <tr>
      <th>Restored Copyright</th>
      <td><%= f.check_box :restored_copyright %></td>
    </tr>
    <tr>
      <th>Alternative Titles</th>
      <td><%= f.text_field :alternative_titles %></td>
    </tr>
    <tr>
      <th>Publication Date</th>
      <td><%= f.text_field :publication_date %></td>
    </tr>
    <tr>
      <th>Copyright End Date</th>
      <td><%= f.text_field :copyright_end_date %></td>
    </tr>
    <tr>
      <th>Authority Source</th>
      <td><%= f.text_field :authority_source %></td>
    </tr>
    <tr>
      <th>Authority Source URL</th>
      <td><%= f.text_field :authority_source_url, class: 'decodeURI' %></td>
    </tr>
    </tbody>
  </table>
  <div class="notes">
    <h4 class="m_top_10">Notes</h4>
    <%= f.text_area :notes, class: 'boxsizingBorder w_400' %>
  </div>
  <%# if the form is being created for an ajax call, omit the submit button %>
  <% unless @ajax%>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
