<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
<table>
  <tbody>
  <tr>
    <th>Title</th>
    <td><%= @work.title %></td>
  </tr>
  <tr>
    <th>Alternative Titles</th>
    <td><%= @work.alternative_titles %></td>
  </tr>
  <tr>
    <th>Publication Year</th>
    <td><%= @work.publication_date_edtf %></td>
  </tr>
  <tr>
    <th>Authority Source</th>
    <td><%= link_to @work.authority_source, @work.authority_source, target: '_blank'%></td>
  </tr>
  <tr>
    <th>Traditional</th>
    <td><%= @work.traditional.blank? ? '' : @work.traditional? ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <th>Work in Copyright</th>
    <td><%= @work.contemporary_work_in_copyright.blank? ? '' : @work.contemporary_work_in_copyright? ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <th>Restored Copyright</th>
    <td><%= @work.restored_copyright.blank? ? '' : @work.restored_copyright? ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <th>Copyright Renewed?</th>
    <td><%= @work.copyright_renewed.blank? ? '' : @work.copyright_renewed? ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <th>Copyright End Year</th>
    <td><%= @work.copyright_end_date_edtf %></td>
  </tr>
  <tr>
    <th>Access Determination</th>
    <td><%= @work.access_determination %></td>
  </tr>
  <tr>
    <th colspan="2">Notes</th>
  </tr>
  <tr>
    <td colspan="2">
      <%= @work.notes %>
    </td>
  </tr>
  </tbody>
</table>