<%= nested_form_for @performance, remote: true do |f|%>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% if action_name.include?('new') %>
    <%= hidden_field_tag :recording_id, @recording.id %>
  <% end %>
  <div class="rvt-grid">
    <div class="rvt-grid__item-12">
      <label for="performanceTitle">Title</label>
      <%= f.text_field :title, {type: "text", 'aria-describedby': "title"} %>
    </div>
    <div class=rvt-grid__item-lg>
      <label for=access>Access Determination:</label>
      <%= f.select :access_determination, options_for_select(AvalonItem::ACCESS_DECISIONS.collect{|a| [a,a]}, @performance.access_determination) %>
    </div>
    <div class="rvt-grid__item-4-md-up">
      <label for="recordingDescription">Location</label>
      <%= f.text_field :location %>
    </div>
    <div class="rvt-grid__item-4-md-up">
      <label for="performanceDateString">Date</label>
      <%= f.text_field :performance_date_string, {class: 'edtf', placeholder: 'YYYY/MM/DD (EDTF)'} %>
    </div>
<!--    <div class="rvt-grid__item-4-md-up rvt-checkbox-wrapper">-->
<!--      <label for="recording[in_copyright]" class="rvt-m-right-sm">In Copyright</label>-->
      <%#= f.select :in_copyright, options_for_select([['Yes', true],['No', false]], @performance.in_copyright), {include_blank: ''} %>
<!--    </div>-->
<!--    <div class="rvt-grid__item-4-md-up">-->
<!--      <label for="copyrightEndDate">Copyright End Date</label>-->
      <%#= f.text_field :copyright_end_date, {'aria-describedby': "copyrightEndDate", class: 'edtf', placeholder: 'YYYY/MM/DD (EDTF)'} %>
<!--    </div>-->
    <div class="rvt-m-all-sm">
      <% if action_name.include?('new') %>
        <button type="submit" class="performanceCreateButton rvt-button " data-recording-id="<%= @recording.id %>">Create Performance</button>
        <button type="button" class="performanceCreateCancelButton rvt-button rvt-m-left-sm" data-recording-id="<%= @recording.id %>">Cancel</button>
      <% elsif action_name.include?('edit') %>
        <button type="submit" class="performanceEditSaveButton rvt-button " data-performance-id="<%= @performance.id %>">Save</button>
        <button type="button" class="performanceEditCancelButton rvt-button rvt-m-left-sm" data-performance-id="<%= @performance.id %>">Cancel</button>
      <% end %>
    </div>
  </div>
<% end %>