<h4>Recording Search</h4>
<div id="tabs-1">
  <%= form_tag '/nav/search', id: 'mdpi_barcode_form' do %>
    <p>Enter the MDPI barcode of the recording you wish to load</p>
    <table>
      <tbody>
        <tr>
          <th>
            MDPI Barcode
          </th>
          <td>
            <%= text_field_tag :mdpi_barcode %>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="Search"></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<% unless @needs_review.nil? || @needs_review.size < 1 %>
  <h4 class="m_top_25">Avalon Items Needing Review</h4>
  <table>
    <tbody>
    <tr>
      <th>Title</th>
      <th>Last Review Comment</th>
      <th>Access Determination</th>
    </tr>
    <% @needs_review.each do |avalon_item| %>
      <tr>
        <td><%= link_to "#{avalon_item.title.blank? ? "No Title!" : avalon_item.title}", avalon_item_path(avalon_item), class: (avalon_item.title.blank? ? 'blank_title' : '') %></td>
        <td><%= (avalon_item.review_comments.last.copyright_librarian? ? "#{avalon_item.review_comments.last.creator}: " : '')%><%= avalon_item.review_comments.last.comment %></td>
        <td><%= avalon_item.access_determination %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>