<h4>Recording Search</h4>
<div id="tabs-1">
  <%= form_tag '/nav/search', id: 'mdpi_barcode_form' do %>
    <p>Enter the MDPI barcode of the recording you wish to load</p>
    <table>
      <tbody>
        <tr>
          <th>
            MDPI Barcode
          </th>
          <td>
            <%= text_field_tag :mdpi_barcode %>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="Search"></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<% if @needs_review.size > 0 %>
  <h4 class="m_top_25">Recordings Needing Review</h4>
  <table>
    <tbody>
    <tr>
      <th>Title</th>
      <th>Access Decision</th>
      <th>MDPI Barcode</th>
      <th>Fedora Item</th>
      <th>IUCAT Record</th>
    </tr>
    <% @needs_review.each do |recording| %>
      <tr>
        <td><%= link_to "#{recording.title.blank? ? "No Title!" : recording.title}", recording_path(recording), class: (recording.title.blank? ? 'blank_title' : '') %></td>
        <td><%= recording.access_determination %></td>
        <td><%= recording.mdpi_barcode %></td>
        <td>
          <% unless recording.fedora_item_id.blank? %>
            <a href="#">MCO Item</a>
          <% end %>
        </td>
        <td>
          <% unless recording.catalog_key.blank? %>
            <a href="https://iucat.iu.edu/catalog/<%= recording.catalog_key %>" target="_blank">IUCAT Record</a>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>